<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>







<ul class="microposts">
<% @favs.each do|fav| %>
  <li>
        <strong><%= link_to fav.user.name, fav.user %> </strong> <br/>
        <%= fav.content %>
  </li>
  <br/>
<% end %>
</ul>
 
  </div>
</div>
